<div class="container">

    <h2 class="new_registration">新規登録</h2>
    <p>会員情報の登録</p>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :first_name, "姓入力欄" %><br />
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "姓入力欄" %>

      </div>

      <div class="field">
        <%= f.label :last_name, "名入力欄" %><br />
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "名入力欄" %>
      </div>

      <div class="field">
        <%= f.label :first_name_kana,"姓カナ入力欄" %><br />
        <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", placeholder: "姓カナ入力欄" %>
      </div>

      <div class="field">
        <%= f.label :last_name_kana,"名カナ入力蘭" %><br />
        <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", placeholder: "名カナ入力欄" %>
      </div>

      <div class="field">
        <%= f.label :postal_codes,"郵便番号" %><br />
        <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", placeholder: "郵便番号入力欄" %>
      </div>

      <div class="field">
        <%= f.label :address, "住所" %><br />
        <%= f.text_field :address, autofocus: true, autocomplete: "address", placeholder: "住所入力欄" %>
      </div>

      <div class="field">
        <%= f.label :phone_number, "電話番号" %><br />
        <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", placeholder: "電話番号入力欄" %>
      </div>

      <div class="field">
        <%= f.label :email,"メールアドレス"  %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" , placeholder: "メールアドレス入力欄"%>
      </div>

      <div class="field">
        <%= f.label :password,"パスワード" %>
        <% if @minimum_password_length %>
        
        <% end %><br />
        <%= f.password_field :password, autocomplete: "password", placeholder: "パスワード入力欄" %>
      </div>
      <br>
      <br>



      <div class="actions">
        <%= f.submit "登録",class: "btn btn-primary col-xs-4 col-mx-offset-4" %>
      </div>
    <% end %>

</div>

