
<header>
       <a class="nav navbar-nav navbar-left"><%= link_to 'ながのCAKE', root_path %></a>

    <% if admin_signed_in? %>
       <li class="item">
        <%= link_to '商品一覧', items_path %></li>
      <li class="costomer">
        <%= link_to '会員一覧', admins_customers_path %></li>
      <li class="orderitem">
        <%= link_to "注文履歴一覧", admins_orders_path %></li>
      <li class="genre">
        <%= link_to "ジャンル管理	", admins_genres_path %></li>
    <% end %>

</header>
