<%= render'admins/link' %>

<div class="container">
	<h2 style="margin-bottom: 50px;">ジャンル編集画面</h2>

	<%= form_for(@genre, url: admins_genre_path(@genre.id)) do |f| %>
	<span>ジャンル</span>
    	<%= f.text_field :genre_name %>
	    <%= f.radio_button :genre_status, :true, id:"genre-edit-availability" %>
	    <%= f.label :genre_status, "有効", for:"genre-edit-availability" %>
	    <%= f.radio_button :genre_status, :false, id:"genre-edit-invalid" %>
	    <%= f.label :genre_status, "無効", for:"genre-edit-invalid" %>
		<%= f.submit "変更を保存する", class: "btn btn-primary" %>
	<% end %>
</div>