<%= render'admins/items/link' %>

<div class="container">
	<h2 class="genre-headline">ジャンル追加・一覧画面</h2>

	<%= form_for (@genre, url: admins_genres) do |f| %>
	<p>ジャンル</p>
    <%= f.text_field :genre_name %>
	<input type="radio" name="status" value="valid">有効
	<input type="radio" name="status" value="invalid">無効
	<%= f.submit "追加",class: "btn btn-primary" %>
	<% end %>

	<table>
		<tr>
			<th>ジャンル</th>
			<th>状態</th>　
		</tr>
		<tr>
			<th>ケーキ</th>
			<th>有効</th>
			<th><%= link_to "編集する", "#", class: "btn-sm btn-success" %></th>
		</tr>
	</table>
</div>