<%= render'admins/link' %>

<div class="container">
	<div class="row">
		<div class="col-xs-8">
			<h2 class="genre-headline">ジャンル追加・一覧画面</h2>

			<%= form_for(@genre, url: admins_genres_path) do |f| %>
				<div class="row genre-index-add" style="margin-left: 0; margin-right: 0;">
					<h4 class="col-xs-3">ジャンル</h4>
					<%= f.attachment_field :genre_image %>
				    <%= f.text_field :genre_name, class:"col-xs-3 genre-field" %>
				    <%= f.radio_button :genre_status, :true, id:"genre-availability" %>
				    <%= f.label :genre_status, "有効", for:"genre-availability" %>
				    <%= f.radio_button :genre_status, :false, id:"genre-invalid" %>
				    <%= f.label :genre_status, "無効", for:"genre-invalid" %>
					<%= f.submit "追加",class: "btn btn-info" %>
				</div>
			<% end %>

			<table class="table">
				<tr class="active">
					<th>ジャンル</th>
					<th>状態</th>
					<th></th>
					<th></th>
				</tr>
				<% @genres.each do |genre| %>
					<tr>
						<td><%= attachment_image_tag genre, :genre_image, :fill, 60, 60, fallback: "no_image.jpg", size:'60x60' %>
							<%= genre.genre_name %></td>
						<td><% if genre.genre_status == true %>
							有効
							<% else %>
							無効
							<% end %>
						</td>
						<td><%= link_to "編集する", edit_admins_genre_path(genre.id), class: "btn-sm btn-primary" %></td>
						<td><%= link_to "削除する",admins_genre_path(genre), method: :delete, class: "btn-sm btn-danger" %></td>
					</tr>
				<% end %>
			</table>
		</div>
		<div class="col-xs-4"></div>
	</div>
</div>