<%= render'admins/link' %>

<div class="container">
	<h2>会員一覧画面</h2>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<table class="table">
				<tr class="active">
					<th>会員ID</th>
					<th>氏名</th>
					<th>メールアドレス</th>
					<th>ステータス</th>
				</tr>
				<% @customers.each do |customer| %>
					<tr>
						<td><%= customer.id %></td>
						<td>
							<%= link_to admins_customer_path(customer.id) do %>
								<%= customer.last_name + customer.first_name %>
							<% end %>
						</td>
						<td><%= customer.email %></td>
						<td>
							<% if customer.customer_status == true %>
								<%= "有効" %>
							<% else %>
								<%= "退会" %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>