<%= render'admins/link' %>

<div class="container">
	<h2>会員詳細画面</h2>
	<div class="row">
		<div class="col-xs-8">
			<table>
				<tr class="customer-tr">
					<td class="col-xs-4">会員ID</td>
					<td class="col-xs-8">
						<%= @customer.id %>
						<span class="bg-info customer-show-status">
							<% if @customer.customer_status == true %>
								有効会員
							<% else %>
								無効会員
							<% end %>
						</span>
					</td>
				</tr>
				<tr class="customer-tr">
					<td class="col-xs-4">氏名</td>
					<td class="col-xs-8"><%= @customer.last_name + " " + @customer.first_name %></td>
				</tr>
				<tr class="customer-tr">
					<td class="col-xs-4">フリガナ</td>
					<td class="col-xs-8"><%= @customer.last_name_kana + " " + @customer.first_name_kana %></td>
				</tr>
				<tr class="customer-tr">
					<td class="col-xs-4">郵便番号</td>
					<td class="col-xs-8"><%= @customer.postal_code %></td>
				</tr>
				<tr class="customer-tr">
					<td class="col-xs-4">住所</td>
					<td class="col-xs-8"><%= @customer.address %></td>
				</tr>
				<tr class="customer-tr">
					<td class="col-xs-4">電話番号</td>
					<td class="col-xs-8"><%= @customer.phone_number %></td>
				</tr>
				<tr class="customer-tr">
					<td class="col-xs-4">メールアドレス</td>
					<td class="col-xs-8"><%= @customer.email %></td>
				</tr>
			</table>
			<%= link_to "編集する",  edit_admins_customer_path(@customer.id), class:"btn btn-primary" %>
			<%= link_to "注文履歴一覧を見る",  admins_order_path, class:"btn btn-primary customer-show-btn" %>
		</div>
	</div>
</div>