<header>
      <a class="nav navbar-nav navbar-left"><%= link_to 'ながのCAKE', root_path %></a>
   <ul class="nav pull-right nav-pills">

   <% if customer_signed_in? %>

    <li class="cartitem">
      <%= link_to 'Cart', cartitems_path %></li>
    <li class="mypage">
      <%= link_to 'My page', customer_path(current_customer.id) %></li>
    <li class="about">
      <%= link_to 'About', about_path %></li>
    <li class="logout">
      <%= link_to " Log out", destroy_customer_session_path, method: :delete %></li>


    <% else %>
      <li class="cart">
        <%= link_to 'Cart', cartitems_path %></li>
      <li class="about">
        <%= link_to "About", about_path %></li>
      <li class="login">
        <%= link_to "Log in", new_customer_session_path %></li>
         <li class="signup">
       <%= link_to "Sign up", new_customer_registration_path %></li>

     </ul>
    <% end %>

  </header>