<%= render'customers/link' %>

<div class="container">
	<div class="row">
		<div class="col-xs-8">
			<h3>注文情報確認</h3>
			<table>
				<tr>
					<th>  商品名　</th>
					<th>       　</th>
					<th>  単価（税込）　</th>
					<th>  数量　</th>
					<th>  小計　</th>
			    </tr>

		    	<% @cartitems.each do |cartitem| %>
					<tr>
						<td><%= cartitem.item.name %></td>
						<td><%= attachment_image_tag cartitem.item, :image, :fill, 60, 60, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %></td>
							<td><%= cartitem.item.tax_included_price.to_i.to_s(:delimited, delimiter: ',') %></td>
						<td><%= cartitem.quantity %></td>
						<td><%= subtotal_price = cartitem.item.tax_included_price.to_i * cartitem.quantity %></td>
						<td><% @total_price += subtotal_price.to_i  %></td>
		 	    	</tr>
		 	    <% end %>
		 	    <td><h2>合計金額<%= @total_price %></h2></td>
			</table>

			<table>
				<tr>
					<th>  支払方法　</th>
				    <th>  お届け先	 </th>
				    <th>           </th>
				</tr>

				<tr>
					<td><%= @order.payment %></td>
					<td>〒<%= @order.postal_code %></td>
					<td><%= @order.address %></td>
					<td><%= @order.destination_name %></td>
				</tr>

				<%= form_for(@order, url:orders_path) do |f| %>
					<%= f.hidden_field :customer_id, :value => current_customer.id %>
					<%= f.hidden_field :payment, :value => @order.payment %>
					<%= f.hidden_field :freight, :value => 800 %>
					<%= f.hidden_field :total_price, :value => @total_price %>
					<%= f.hidden_field :destination_name, :value => @order.destination_name %>
					<%= f.hidden_field :postal_code, :value => @order.postal_code %>
					<%= f.hidden_field :address, :value => @order.address %>
					<%= f.submit "購入を確定する", class: "btn-sm btn-primary" %>
				<% end %>
			</table>
		</div>
	</div>
</div>