<div class="container">
  <h2></h2><br />

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
    <div class="field">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %><br /><br />
    </div>
  </div>
</div>

<div class="row">
      <div class="col-md-4 col-md-offset-4">
    <div class="field">
      <%= f.label :パスワード %><br />
      <%= f.password_field :password, autocomplete: "current-password" %><br /><br /><br />
    </div>
  </div>

 </div>
   <div class="row">
    <div class="actions">
       <input class="btn btn-primary col-xs-4 col-xs-offset-4" type="submit" value="Log in">
    </div>
  <% end %>

 </div>
</div>
