<%= render'admins/link' %>

<div class="container">
	<h2>商品 新規登録</h2>
	<%= form_for(@item, url:admins_items_path(@item),method: :post) do |f| %>
		<div class="row">

			<div class="col-xs-4" style="margin-top: 100px;">
				<%= f.attachment_field :image %>
			</div>

			<div class="col-xs-8">
				<div class="row admin-item">
					<%= f.label :name, "商品名", class:"col-xs-2" %>
					<%= f.text_field :name, class:"col-xs-4" %>
				</div>

				<div class="row admin-item">
					<%= f.label :description, "商品説明", class:"col-xs-2" %>
					<%= f.text_area :description, class:"col-xs-4" %>
				</div>

				<div class="row admin-item">
					<%= f.label :genre_id, "ジャンル", class:"col-xs-2" %>
					<%= f.collection_select :genre_id, Genre.all, :id, :genre_name, class:"col-xs-4" %>
				</div>

				<div class="row admin-item">
					<%= f.label :price, "税別価格", class:"col-xs-2" %>
					<%= f.number_field :price, class:"col-xs-4" %>円
				</div>

				<div class="row admin-item">
					<%= f.label :sale_status, "販売ステータス", class:"col-xs-2" %>
					<%= f.select :sale_status, [["販売中", "true"], ["売切れ", "false"]], :include_blank => "--選択してください--", class:"col-xs-4" %>
				</div>
			</div>
		</div>
		<div class="row admin-item-show-btn">
			<%= f.submit "新規登録", class:"col-xs-2 col-xs-offset-8 btn btn-primary" %>
		</div>
	<% end %>
</div>

